@import "../../../styles/variables";

.as__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: $heightHeader;
  color: #fff;
  background: $primaryLiteColor;

  .as__header_logo {
    a {
      font-size: 1.2em;
      font-weight: 600;
      color: #fff;
      transition: .2s;

      &:hover {
        color: #ddd;
        transition: .2s;
      }
    }
  }

  .as__header_menu {
    display: flex;

    span {
      font-weight: 600;
      cursor: pointer;
    }

    .as__joke-done {
      color: lime;
      cursor: default;
    }
  }
}
