@import "../../../styles/variables";

.as__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $heightFooter;
  background: #333;

  .as__footer_line {
    color: #eee;
    font-size: .9em;
    padding: 3px 0;

    a {
      color: deepskyblue;
    }
  }

}
