@import '~antd/dist/reset.css';
@import "styles/antd-custom-theme";

@font-face {
  font-family: 'Comfortaa';
  src: url(./styles/fonts/Comfortaa-Regular.ttf);
}

body, * {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  a {
    text-decoration: none;
  }
}

* {
  scrollbar-color: #ccc #eee;
  scrollbar-width: thin;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
